<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint name="WeatherService"
					  address="net.tcp://localhost:8090/WeatherService"
					  binding="netTcpBinding"
					  contract="Common.IWeatherService"/>
		</client>
	</system.serviceModel>
</configuration>